.navbar {
  display: flex;
  flex-wrap: wrap; /* Ensures elements wrap on smaller screens */
  justify-content: space-between;
  align-items: center;
  
  padding: 15px 30px;
  background: linear-gradient(to right, #1e3c72, #2a5298);
  /* background: linear-gradient(to right, #ff7e5f, #feb47b); */
  /* background: linear-gradient(to right, #141e30, #243b55); */
  /* background: linear-gradient(to right, #8e2de2, #4a00e0); */
  /* background: linear-gradient(to right, #00c6ff, #0072ff); */
  /* background: linear-gradient(to right, #ff00cc, #333399); */
  /* background: linear-gradient(to right, #11998e, #38ef7d); */
  /* background: linear-gradient(to right, #ff512f, #dd2476); */
  /* background: linear-gradient(to right, #ff9a9e, #fad0c4); */
  /* background: linear-gradient(to right, #d4af37, #b8860b); */

  









  color: white;
  box-shadow: 0 4px 8px white;
  
}
.logo {
  color:white;
  font-size: 2.1rem;
  justify-content: center;
  margin-top: 10px;
}

.nav-links {
  display: flex;
  flex-wrap: wrap; /* Wraps links if they overflow */
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 8px 12px;
  transition: 0.3s;
}

.nav-links a:hover {
  background: white;
  color: #333;
  border-radius: 5px;
}
